@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<AuthorizeView>
    @if (context.User.Identity.IsAuthenticated)
    {
        var userName = context.User.Identity.Name;

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav id="NavBarWrapper">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"profile/{userName}")>
                        <span class="oi oi-person" aria-hidden="true"></span> Display user profile
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="coinflip">
                        <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Coinflip
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="mine-sweeper">
                        <span class="oi oi-flag" aria-hidden="true"></span> Minesweeper
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="dailywheel">
                        <span class="oi oi-aperture" aria-hidden="true"></span> Daily Wheel
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="crash">
                        <span class="oi	oi-graph" aria-hidden="true"></span> Crash
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="shop">
                        <span class="oi oi-dollar" aria-hidden="true"></span> Shop
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <LoginLogoutButton />
                </div>
            </nav>
        </div>
    }
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
